@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        margin: 20px;
    }

    #terminos-container {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color:aliceblue;
    }

    h1 {
        color: aliceblue;
    }

    p {
        color: aliceblue;
    }
</style>

<div id="terminos-container">

    <h1>Política de Privacidad y Términos de Uso para el Software</h1>

    <p>Por favor, lea detenidamente los siguientes términos antes de utilizar el software. Al acceder y utilizar este software, usted acepta estar sujeto a los términos y condiciones que se detallan a continuación:</p>

    <ol>
        <li>
            <strong>Propiedad Intelectual:</strong> Todo el contenido y código fuente incluido en este software son propiedad exclusiva del Ingeniero Raúl Alvarado Saavedra. Se prohíbe estrictamente cualquier reproducción, distribución, modificación o uso no autorizado del código fuente, ya sea total o parcialmente.
        </li>

        <li>
            <strong>Derechos del Desarrollador:</strong> El Ingeniero Raúl Alvarado Saavedra retiene todos los derechos sobre el software, incluyendo, pero no limitado a, derechos de autor, patentes y marcas registradas. Ningún derecho, título o interés en el software se transfiere al usuario, excepto los expresamente otorgados en estos términos.
        </li>

        <li>
            <strong>Uso Restringido:</strong> El uso de este software está estrictamente limitado a fines personales y no comerciales. Queda prohibido cualquier intento de ingeniería inversa, descompilación, desensamblaje o cualquier otra forma de intento de acceder al código fuente del software.
        </li>

        <li>
            <strong>Prohibición de Distribución:</strong> Queda estrictamente prohibida la distribución no autorizada de este software, ya sea de forma gratuita o con fines comerciales. El Ingeniero Raúl Alvarado Saavedra se reserva el derecho de emprender acciones legales contra aquellos que violen esta restricción.
        </li>

        <li>
            <strong>Actualizaciones y Modificaciones:</strong> El Ingeniero Raúl Alvarado Saavedra se reserva el derecho de realizar actualizaciones y modificaciones en el software en cualquier momento y sin previo aviso. El usuario acepta que es su responsabilidad mantenerse actualizado con las versiones más recientes del software.
        </li>

        <li>
            <strong>Exclusión de Garantías:</strong> Este software se proporciona "tal cual" y sin garantías de ningún tipo, ya sean expresas o implícitas. El Ingeniero Raúl Alvarado Saavedra no garantiza la precisión, confiabilidad o disponibilidad del software y no se hace responsable de cualquier daño derivado del uso del mismo.
        </li>

        <li>
            <strong>Cambios en los Términos:</strong> El Ingeniero Raúl Alvarado Saavedra se reserva el derecho de modificar estos términos en cualquier momento. Los cambios entrarán en vigencia inmediatamente después de su publicación. Se recomienda a los usuarios revisar periódicamente estos términos para estar al tanto de cualquier actualización.
        </li>
    </ol>

    <p>Al utilizar este software, usted reconoce y acepta todos los términos y condiciones establecidos anteriormente. Si no está de acuerdo con estos términos, le rogamos que descontinúe el uso del software desarrollado por el Ingeniero Raúl Alvarado Saavedra.</p>

</div>
